---
title: CommentedProofs
---
<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

{% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

<h4>An Exercise Not Left for the Reader</h4>

<p>This page presents alternative proofs for each theorem presented in the Georgia Tech OMS Computability, Complexity, &amp; Algorithms (CS-6505) lectures. Each proof follows a simple style convention with extra comments that provide context or clarifications typically omitted from other sources. By design these proofs (and especially the comments) are both strongly opinionated and very elementary. They are not aimed at studnets who already feel comfortable with the subject, and the style is not a requirement (or even necessarily a recommendation) for CS-6505 - especially if you are already comfortable with something else. The convention it follows may be most helpful to students who don't already feel confident trying to write a proof.</p>

<p><strong>This page is an unofficial resource. All materials are provided as-is, with no guarantee of completeness or accuracy. Omissions, mistakes, and other issues can be reported to the author using the contact information provided below.</strong></p>

<center><h4><a href="{{ site.baseurl }}/blog">Continue</a></h4></center>

<h4>
<a id="author" class="anchor" href="#author" aria-hidden="true"><span class="octicon octicon-link"></span></a>Author</h4>

<p>Chris Gearhart (<a href="https://github.com/cgearhart" class="user-mention">@cgearhart</a>) is an OMS student. Comments and feedback are welcome &amp; appreciated.</p>
      
      </section>
    </div>

{% include footer.html %}
{% include tracking.html %}

  </body>
</html>
