---
title: CommentedProofs
---
<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

{% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

<h4>An Exercise for the Reader</h4>

<p>Many OMS students taking Computability, Complexity, &amp; Algorithms course (CS-6505) have complained that the proofs presented in lecture are too terse, and don't provide enough detail or context to properly understand the material. The lectures were prepared with the expectation that every student has previously taken an undergrad curriculum including discrete mathematics &amp; algorithms, but pre-reqs are not enforced in graduate courses at Georgia Tech, and many students in the OMS haven't looked at those subjects in a decade or more.</p>

<p>Commented Proofs is an attempt to reduce the dependency on prior knowledge by presenting the proof for each theorem from lecture in greater detail to provide the context that might be missing for some students - similar in function to the comments included in source code.</p>

<center><h4><a href="blog">Continue</a></h4></center>

<h4>
<a id="author" class="anchor" href="#author" aria-hidden="true"><span class="octicon octicon-link"></span></a>Author</h4>

<p>Chris Gearhart (<a href="https://github.com/cgearhart" class="user-mention">@cgearhart</a>) is an OMS student. Comments and feedback are welcome &amp; appreciated.</p>
      
      </section>
    </div>

{% include footer.html %}
{% include tracking.html %}

  </body>
</html>
