	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>{{ page.title }}</title>

    <meta name="description" content="CommentedProofs : Long form, extensively commented proofs from the Georgia Tech OMS CS-6505 lectures">

    <link rel='home' href='http://cgearhart.github.io/CommentedProofs'/>

    <base href="http://cgearhart.github.io/CommentedProofs/">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js?v=20130331"></script>
  </head>