---
layout: blog
---

    Select a Proof:
    <hr>

      {% assign posts = (site.posts | sort: 'proof_id') %}
      {% assign start = paginator.page | minus:1 | times:paginator.per_page %}
      {% for post in posts offset:start limit:paginator.per_page %}

      <div class="post">
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        {{ post.excerpt }}<br>
      </div>

      {% endfor %}

      <!-- Pagination links -->
      <div id="pagination">
        
        <div id="prev_page">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">Previous</a>
          {% else %}
            <span id="previous_page" class="inactive">Previous</span>
          {% endif %}
        </div>

        <div id="page_number">
          {{ paginator.page }} of {{ paginator.total_pages }}
        </div>
        
        <div id="next_page">
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">Next</a>
          {% else %}
            <span class="inactive">Next</span>
          {% endif %}
        </div>

      </div>
