---
---
<!DOCTYPE html>
<html>
  
{% include head.html %}
  
  <body>

{% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      	<a href="javascript:history.back();">&laquo;Back to List</a>

		<h3><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3><hr>

		<input id="commentToggle" type="checkbox" onclick="toggleComments();" checked> <label for="commentToggle">Show/Hide Comments</label>

		<p><strong>Thm:</strong>  [<a href="{{ page.lecture_link }}">Lecture Video</a>]</p>
		<p>{{ page.theorem }}</p>

		<p><strong>Pf:</strong> {{ page.method }}</p>

{{ content }}

      </section>
    </div>


{% include footer.html %}
{% include footerjs.html %}
{% include tracking.html %}

</body>
</html>